

.calcButton {
  border: none;
  background-color: #61B34F;
  color: white;
  text-align: center;
  font-size: calc(2vw + 2vh);
  line-height: 20vh;
  font-family: 'Cousine', monospace;
  font-weight: 100;
}

.function {
  background-color: #82C276;
  color: darkgreen;
}

#displayArea {
  text-align: right;
  padding-right: 1em;
}

#calculator {
  margin: 0 auto;
  display: grid;
  grid-gap: 1px;
  grid-auto-rows: 19vh;
  grid-auto-columns: 19.5vw;
}

#displayArea{
  grid-column: 3 / 6;
}

/* ROWS */

#displayArea , #memory, #clear {
  grid-row: 1;
  background-color: darkgreen;
}

#seven , #eight , #nine , #divide , #modulo{
  grid-row: 2;
}
#four , #five , #six , #times , #power{
  grid-row: 3;
}
#one , #two , #three , #minus, #openparen {
  grid-row: 4;
}
#zero , #dot , #equalsign , #plus , #closedparen {
  grid-row: 5;
}

/*COLUMNS*/
#clear , #openparen, #closedparen, #modulo , #power {
  grid-column: 1;
}

#seven , #four , #one , #zero , #memory  {
  grid-column: 2;
}

#eight , #five , #two , #dot {
  grid-column: 3;
}

#nine , #six , #three , #equalsign {
  grid-column: 4;
}

#divide , #times , #minus , #plus {
  grid-column: 5;
}

.flip{
  filter: grayscale(100%);
  transition: .5s;
}

.flipped{
  filter: none;
  transition: .5s;
}
