*:active,
*:hover {
  cursor: default;
}

.number , .function , .special{
  border: none;
  background-color: #61B34F;
  color: white;
  text-align: center;
  font-size: calc(1.3vw + 1.5vh);
  line-height: calc(1.6vw + 12vh);
  font-family: 'Cousine', monospace;
  font-weight: 100;
  user-select: none;
}

.function {
  background-color: #82C276;
  color: darkgreen;
}

.special{
  background-color: darkgreen;
}

#displayArea {
  text-align: right;
  padding-right: 1em;
  /*border: .2vw solid darkgreen;
  background-color: #82C276;*/
}

#wrapper {
  width: 90vw;
  margin-left: 1%;
  /*margin-left: 2vw;*/
  /*margin-right: 5vw; */
  margin: none;
  padding: none;
}

#calculator {
  margin: none;
  padding: none;
  display: grid;
  grid-gap: .2vw;
  grid-auto-rows: 15vh;
  grid-auto-columns: 15vw;
}

#displayArea{
  grid-column: 2 / 7;
  grid-row: 1;
}

#equalsign {
  grid-column: 5 /7;
  grid-row: 5;
}

#logo {
  grid-row: 1;
  grid-column: 1;
}
/* ROWS */


#memory , #seven , #eight , #nine , #plus , #minus{
  grid-row: 2;
}

#clear , #four , #five , #six , #times , #divide{
  grid-row: 3;
}

#backspace , #one , #two , #three , #power , #modulo {
  grid-row: 4;
}

#dot , #openparen , #zero , #closedparen {
  grid-row: 5;
}


/*COLUMNS*/
#memory , #clear , #backspace , #dot {
  grid-column: 1;
}

#seven , #four , #one , #openparen {
  grid-column: 2;
}

#eight , #five , #two , #zero {
  grid-column: 3;
}

#nine , #six , #three , #closedparen {
  grid-column: 4;
}

#plus , #times , #power{
  grid-column: 5;
}

#minus , #divide , #modulo{
  grid-column: 6;
}

.flip{
  filter: grayscale(100%);
  transition: .5s;
}

.flipped{
  filter: none;
  transition: .5s;
}

.womp{
  background-color: red;
  transition: .1s;
}

.womped{
  transition: .3s;
}
