
.calc-button {
  border: none;
  background-color: #61B34F;
  color: white;
  text-align: center;
  font-size: calc(2vw + 2vh);
  line-height: 20vh;
  font-family: sans-serif;
  font-weight: 100;
}

.function {
  background-color: #82C276;
  color: darkgreen;
}

#calculator {
  margin: 0 auto;
  display: grid;
  grid-gap: 1px;
  grid-auto-rows: 19vh;
  grid-auto-columns: 19.5vw;
}

#clear {
  grid-row: 1;
}
#display-area{
  grid-column: 2 / 6;
  grid-row: 1;
}

#memory {
  grid-row: 1 / 2;
}

#modulo {
  grid-row: 2/4;
  line-height: 40vh;
}

#root {
  grid-row: 4/6;
  line-height: 40vh;
}


/* ROWS */

#seven , #eight , #nine , #divide {
  grid-row: 2;
}
#four , #five , #six , #times {
  grid-row: 3;
}
#one , #two , #three , #minus {
  grid-row: 4;
}
#zero , #dot , #equalsign , #plus {
  grid-row: 5;
}

/*COLUMNS*/

#clear , #seven , #four , #one , #zero {
  grid-column: 2;
}

#eight , #five , #two , #dot {
  grid-column: 3;
}

#nine , #six , #three , #equalsign {
  grid-column: 4;
}

#divide , #times , #minus , #plus {
  grid-column: 5;
}

#modulo , #root , #memory {
  grid-column: 1;
}
